*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'metropolisregular';
}

body{
    background: #030713;
}

header{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
header .login{
    height:50px;
    margin: 10px 41px;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid silver ;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#f9f9f9;
    font-size: 18px;
    font-family: 'metropolisregular';
    letter-spacing: 1.1px;
}

header a:hover{
    background: #f9f9f9;
    color: #030713;
    transition: all 200ms;
}

#home{
    width: 100%;
    height: 100vh;
    background: url(../img/original.jfif) center center;
    background-size: cover;
}


.homeContent{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-left: 80px;
    padding-top: 20px;
}

.homeContent h3{
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 26px;
    font-family: 'metropolisregular';
    color: #f9f9f9;
    line-height: 38px;
}

.homeContent .btn-suscribe{
    width: 100%;
    padding: 20px;
    border-radius: 4px;
    background-color: #016cf9;
    color: #f9f9f9;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 0.5px;
    text-align: center;
}

.homeContent img{
    padding-top: 15px;
    padding-bottom: 40px;
    margin: 0 auto;
}

.homeContent p{
    font-size: 12px;
    color: #c0c0c0;
    line-height: 22px;
    margin-top: 23px;
}

.homeContent .soloDisney{
    font-size: 19px;
    color: #f9f9f9;
    text-decoration: underline;
    margin-top: 20px;
}

.homeContent .costo{
    font-size: 18px;
    margin-top: 5px;
}